# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Frontend
frontend-nuevo/package-lock.json

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.sqlite3
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/
